body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
}

div {
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(81, 81, 81);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: 800;
}