*{
  padding: 0;
  margin: 0;
}
nav {
  background-color: rgb(9, 9, 9);
  color: white;
  display: flex;
  gap: 34px;
}
li {
  list-style: none;
}
a li{
  color: white;
  padding: 30px;
}
.red {
  background-color: red;
  
}