.outerBox {
    padding: 1rem;
    border-radius: 2rem;
    background-color: #b3aa69;
    display: flex;
    flex-direction: column;
    border: 1px solid #635d32;
    flex: 1 0 auto ;
    cursor: pointer;
    transition: box-shadow 250ms ease-out,
    transform 350ms ease-in-out;
}
.outerBox:hover {
    box-shadow: 0px 0px 20px 0px rgb(44, 44, 44);
    transform: scale(0.95);
}
h3,span{
    position: relative;
}
h3::after,span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    border-radius: 2rem;
    background-color: black;

    transition: width 350ms ease-in-out;
}
.outerBox:hover h3::after,
.outerBox:hover span::after {
    width: 100%;
}
.outerBox:hover p {
    text-decoration: underline;
}