li {
    cursor: pointer;
    transition: text-decoration 200ms ease-in-out;
    position: relative;
    color: #f5f5f5;
}
li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    border-radius: 2rem;
    background-color: whitesmoke;

    transition: width 250ms ease-in-out;
}
li:hover::after {
    width: 100%;
}