li::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    background-color: white;
    transition: width 200ms ease-in-out;
}
li:hover::after {
    width: 100%;
}