nav {
    background-color: var(--navbar-bg);
    border-bottom: 2px solid white;
}
.nav-first-div {
    background: var(--navbar-bg);
}
li::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    background-color: white;
    transition: width 200ms ease-in-out,
                color 200ms ease-in-out;
}
li:hover::after {
    width: 100%;
}
.lis {
    border-radius: 1rem;
    padding-inline: 4px;
    transition: opacity 300ms ease-in-out,
                scale 250ms ease-in-out,
                color 300ms ease-in-out;
}
.lis.active {
    opacity: 1;
    pointer-events: all;
}
.lis.deactive {
    color: rgb(158, 158, 158);
    pointer-events: none;
}
.lis.deactive::after {
    background-color: rgb(158, 158, 158);
}

.floatingTodos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 72, 72, 0.84);
    transition: opacity 300ms ease-in;
}
.floatingTodos.display-off {
    opacity: 0;
}
.floatingTodos.display-on {
    pointer-events: all;
    opacity: 1;
    z-index: 40;
}
.homeGrow {
    transform: scale(1.15);
}