.navbar-todos-divs span{
    word-break: break-word;
    position : relative;
}
.navbar-todos-divs span::before {
    position : absolute;
    content : "";
    height : 5px;
    width : 5px;
    background : transparent;
    top : 50%;
    left : -14px;
    transform: translateY(-50%);
    border-radius : 50%;
    border: 0.2px solid white ;
}