* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(29, 183, 29, 0.6), rgb(141, 179, 188));
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    width: 250px;
    height: 300px;
    background-color: rgb(103, 103, 103);
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 95%;
    height: 95%;
    background-color: rgb(153, 153, 153);
    border-radius: 7px;
    border: 1px solid black;
}

.display {

    font-family: 'Courier New';

    margin-top: 5px;
    width: 95%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: aliceblue;

    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden    ;
    /* white-space: nowrap; */
    font-size: clamp(1rem, 5vw, 3rem);
}

.buttons-container {
    flex: 1;
    width: 95%;
    display: grid;
    gap: 5px;
    margin-bottom: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.buttons {
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 103, 103);
    border: 1px solid black;
    user-select: none;
    
    font-family:Arial, Helvetica, sans-serif ;
}

.buttons:hover {
    background-color: rgb(83, 83, 83);
}

.buttons:active {
    background-color: rgb(60, 60, 60);
}

.operators {
    background-color: rgb(207, 79, 0);
}
.operators:hover {
    background-color: rgb(255, 34, 0);
}
.operators:active {
    background-color: red;
}


#refresh {
    transform: translateX(-50%);
}
#refresh > button {
    padding: 5px 10px ;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(141, 209, 141);
    outline: 1px solid black;
    outline-offset: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#refresh > button:hover {
    cursor: pointer;
    background-color: rgb(85, 209, 85);
}
#refresh > button:active {
    outline-width: 2px;
    background-color: rgb(30, 205, 30);
}