*{
    margin: 0;
    padding: 0;
}

.area {
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/495/794/416/artistic-vector-black-cat-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center center;
}
.area > :first-child {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#heading {
    display: none;
    border: 2px solid #008000;
    border-radius: 5px;
    padding: 2px 10px;
    color: #009000;
    outline: 2px solid #008000;
    outline-offset: 2px;
    font-family: 'hack';
    text-align: center;
}

.text {
    display: none;
    color: #008000;
    font-family: 'hack';
    line-height: 1.5rem; 
    padding: 0px 5px;
    font-size: larger;
}
.text:last-child {
    border: 1px solid white;
}

#refresh {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: 2px solid black;
    outline: 2px solid #007000;
    padding: 5px 10px;
    background-color: #007000;
    font-family: 'hack';
}
#refresh:active {
    background-color:#005400;
    outline-color: #005400;
}