@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Pompiere&display=swap');

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

body {
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}


nav {
    height: 80px;
    max-width: 60vw;
    margin: auto;
    padding-top: 20px;

    align-items: center;
    justify-content: space-between;
}

nav img {
    color: red;
    width: clamp(100px,8vw,15vw);
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.buttonContainer {
    gap: 10px;
    font-weight: bolder;
}

nav .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: none;
    border: 1px solid rgb(115, 115, 115);
    background-color: rgba(0, 0, 0, 0.41);
    padding: 6px 16px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-size: clamp(10px , 0.8vw , 2vw);
    font-weight: 600;
}
nav .lang:focus{
    outline: 2px solid white;
    outline-offset: 2px;
}

nav .si {
    cursor: pointer;
    font-weight: 600;
    font-size: clamp(10px , 0.8vw , 2vw);
    color: white;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(255, 27, 27);
    border: none;
    padding: 6px 24px;
}

.langIMG {
    width: 20px;
}


.main {
    width: 100%;
    height: 100vh;
    background-image: url('Assets/images/bg.jpg');
    background-repeat: no-repeat;
    /* background-size: max(1200px,100vw) ; */
    background-size: cover;
    position: relative;
    background-position: center center;
}

.main .box {
    width: 100%;
    height: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}


.hero {
    font-family: "Martel Sans", sans-serif;
    padding: 0px 30px;
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    gap: 20px;

    position: relative;
    z-index: 10;
}

.hero > :nth-child(1) {
    letter-spacing: 0.7px;
    font-size: clamp(12px, 3vw, 80px);
    font-weight: bolder;
    font-style: normal;
    width: clamp(30vw , 40vw , 50vw);
    min-width: auto;
    line-height: 135%;
    text-align: center;
}

.hero > :nth-child(2) {
    font-size: clamp(8px, 1vw , 40px);
    margin-bottom: 20px;
    text-align: center;
}

.hero > :nth-child(3) {
    font-size: clamp(10px , 0.7vw , 60px);
    width: clamp(30px , 50vw , 1300px);
    font-weight: 500;
    text-align: center;
}

.hero > :nth-child(4) {
    margin-top: clamp(5px , 1vh , 30px);
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 50px;
    text-align: center;
}

.hero > :nth-child(4) input {
    flex: 1;
    background: rgba(16, 16, 16, 0.652);

    border-radius: 4px;
    border: 0.5px solid grey;
    outline: none;
    color: white;

    /* max-width: 400px; */
    width: clamp(60px , 15vw , 400px);
    font-size: clamp(8px , 0.9vw , 24px);
    height: 100%;
    height: clamp(30px , 5vh , 100%);

    padding-right: clamp(15px , 10vw , 20vw);
    padding-left: 15px;
}
.hero> :nth-child(4) input:focus{
    outline: 2px solid white;
    outline-offset: 2px;
}
.hero> :nth-child(4) input::placeholder{
    color: rgb(177, 177, 177);
}


.hero> :nth-child(4) button {
    cursor: pointer;

    background-color: rgb(229, 9, 20);
    color: white;

    border: none;
    border-radius: 4px;
    height: 100%;
    height: clamp(30px , 5vh , 100%);

    font-size: clamp(8px , 1vw , 24px);
    font-weight: 600;

    padding: 0px 30px;
}

.hero form button:hover {
    background-color: rgb(200, 0, 15);
}

.line {
    height: clamp(3px, 0.5vh, 10px);
    background-color: gray;
}

.trendingnow {
    width: 100%;
    height: 80px;
    align-items: center;
}
.trendingnow h2 {
    transform: translateX(18vw);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: clamp(8px , 2em , 48px);
    width: 100%;
}
.trending {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 60vw;
    height: 310px;
    gap: 30px;

    overflow-x: auto ;
    overflow-y: hidden;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: rgb(241, 59, 59) black;
}
.trends:hover{
    cursor: pointer;
    animation: scaling 400ms ease-in-out  1 forwards;
}


.reasons{
    position: relative;
    justify-content: center;
    align-items: center;
}

.reasons > :nth-child(1) {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(10px , 1rem , 5vw);
    width: 75vw;
    height: 310px;
}
.reason img{
    height: 310px;
    border-radius: 10px;
}

.faq {
    flex-direction: column;
    gap: 8px;
    width: 60vw;
    height: auto;
    margin: auto;
}
.questions{
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: clamp(8px , 2.5vh , 2rem);
    font-weight: 600;
    font-family: 'Martel Sans';
    width: clamp(100px , 60vw , 1900px);
    height: clamp(30px, 10vh, 100px);
    background-color: rgb(35, 35, 35);
    color: white;
    justify-content: space-between;
}
.questions:hover {
    animation: faq 150ms 0ms ease-in 1 forwards;
    cursor: pointer;
}


.asking {
    font-family: 'Martel Sans';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
#askingDiv1{
    text-align: center;
    color: white;
    margin-top: 10vh;
    font-size: large;
}
#askingDiv2 {
    height: 100px;
}
#askingDiv2 form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#askingDiv2 input {
    width: clamp(20px, 35vw, 1000px);
    padding: 20px 0px 20px 20px;
    border: 1px solid rgb(61, 61, 61);
    background: rgba(16, 16, 16, 0.652);
    border-radius: 4px;
    color: white;
    font-size: clamp(8px , 1.5em , 30px) ;
    text-align: left;
    height: 100%;
    margin-right: 5px;
}
#askingDiv2 input::placeholder {
    padding: 0px 100px 0px 0px;
    width: 15vw;
    color: rgb(192, 192, 192);
}
#askingDiv2 input:focus{
    outline-offset: 2px;
    outline: 2px solid white;
}
#askingDiv2 button {
    height: 100%;
    cursor: pointer;
    padding: 18px 45px;
    border: none;
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 4px;
    font-size: clamp(8px, 1.5vw, 48px);
}#askingDiv2 button span {
    /* font-size: clamp(8px , 2em , 10vw); */
    font-weight: bolder;
}
#askingDiv2 button:hover {
    background-color: rgb(200, 0, 15);
}

footer {
    width: 100vw;
    height: 50vh;
    margin-top: 30px;
}
#footerdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-60%);
    height: 100%;
}
#call {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.1rem;
}
#call a {
    text-decoration: none;
}
#links {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    column-gap: 10rem;
    row-gap: 1rem;
}
#links a {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
}
.bottomlang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 4px;
    border: none;
    color: white;
    border: 1px solid rgb(115, 115, 115);
    background-color: rgba(69, 69, 69, 0.41);
    padding: 5px 12px;
    font-size: 16px;
    font-weight: bold;
}
.bottomLangDiv :focus {
    outline-offset: 2px;
    outline: 2px solid white;
}
#NI {
    color: rgba(255, 255, 255, 0.7);
}
#captcha {
    color: rgba(255, 255, 255, 0.7);
}
#captcha a {
    color: rgb(68, 142, 244);
}
#captcha a:active {
    color: red;
}

@media screen and (max-width:650px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    nav .si{
        padding: 3px 7px;
    }
    nav .lang{
        padding: 3px 8px;
    }
    .reasons > :nth-child(1) {
        flex-direction: column;
        justify-content: start;
        height: calc(4*310px + 40px);
    }
    #askingDiv2 form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #askingDiv2 form button {
        text-align: center;
    }
}


@keyframes scaling {
    from {

    }
    to {
        scale: 1.1;
        box-shadow: rgb(46, 46, 46) 0px 0px 3px 2px;
    }
}

@keyframes faq {
    from {

    }
    to {
        background-color: rgba(107, 107, 107, 0.509);
    }
}