* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
}

@media screen and (max-width:1500px) {
    #middle {
        display: none;
    }

    #right {
        display: none;
    }

    header nav {
        width: 100vmin;
    }

    header {
        justify-content: space-around;
    }

    .ue-license span {
        padding-top: 10px;
    }
    #one{
        flex-direction: column;
    }
}

@media screen and (min-width:1500px) {
    .three-line {
        display: none;
    }
}

a {
    text-decoration: none;
    color: black;
}

.three-line button {
    border: none;
}

.three-line {
    padding-top: 20px;
}




a:hover {
    color: rgb(71, 71, 71);
    cursor: pointer;
}

/* Header  */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    width: 64vw;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul li {
    font-size: 1.05rem;
    font-family: sans-serif;
}

/* Lists */
#middle {
    gap: 1.8rem;
    overflow: auto;
}

#right {
    gap: 35px;
}

#globe {
    display: flex;
    align-items: center;
    gap: 10px;
}

#buying {
    border: 2px solid black;
    padding: 9px 20px 7px 20px;
    border-radius: 3px;
    font-weight: bold;
}

/* Heading finished  */

.download {
    margin-top: 4.5%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

#para {
    font-size: 3rem;
    text-align: center;
}


.downloaddescription {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 4.2vh;
}


.downloaddescription p {
    width: 50vw;
    font-weight: -1000;
    color: rgb(35, 35, 35);
}

.downloadbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.downloadbutton a {
    padding: 16px 16px;
    border-radius: 4PX;
    border: none;
    background-color: rgb(0, 174, 255);
    color: white;
    font-weight: bold;
}

.downloadbutton a:hover {
    background-color: rgb(0, 140, 255);
}


.ue-license {
    display: flex;
    padding-left: 24.5vw;
    padding-top: 3px;
    gap: 1%;
    align-items: center;
    text-align: center;
    color: rgb(69, 69, 69);
    margin-top: 8vh;
    flex-wrap: wrap;
}

.ue-license h3 {
    font-weight: lighter;
    font-size: 1.5rem;
}

.ue-license span {
    font-size: 14px;
    letter-spacing: 0.4px;
}

.ue-license span a {
    color: rgb(69, 69, 69);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Links */
.containerOfLinks {
    width: 52vw;
    margin-top: 2.7%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;

}

.link {
    justify-self: center;
    align-self: center;
    width: 220px;
    height: 180px;
    font-family: "Segoe UI";
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    color: rgb(39, 39, 39);
    padding: 23px 0px 23px 0px;
}

.download64bit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.download64bit a {
    width: 55%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 12px;
    color: white;
    font-weight: bolder;
    background-color: #5cb85c;
    border-radius: 6px;
}

.SHA256 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    padding: 10px 0px 0px 0px;
    color: rgb(35, 35, 35);
}

.randomcode {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7px;
    letter-spacing: 0.1px;
    line-height: 1rem;
    overflow-wrap: anywhere;
    padding: 10px 4px 10px 4px;
}


.newsletter {
    margin-top: 5%;
    height: 78vh;
    width: 100%;
    background-color: #222;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.newsletter #one {
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

#one-one {
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#one-one h2 {
    padding-bottom: 12px;
}

#one-one p {
    line-height: 1.5rem;
}

#one-two {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#one-two>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 70%;
    max-width: 450px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

#one-two>div>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 145, 255);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.4em;
    letter-spacing: 0.8px;
}

#one-two>div>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    font-size: 12px;
    letter-spacing: 1px;
    color: #222;
}
#one-two>div>div:nth-child(2)>form >div:nth-child(1){
    margin-bottom: 10px;
}
#one-two>div>div:nth-child(2)>form>div>input{
    border: 0.5px solid rgb(220, 220, 220) ;
    width: 17rem;
    height: 3rem;
    box-sizing: border-box;
}

#one-two>div>div:nth-child(3){
    margin-top: 10px;
}
#one-two>div>div:nth-child(3)>button{
    border: none;
    background-color: rgb(0, 183, 255);
    border-radius: 3px;
    width: 16.5rem;
    height: 2.8rem;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}


.newsletter #two {
    width: 50%;
    height: 50%;
}


#two {
    font-family: "Segoe UI";
    display: flex;
    flex-direction: column ;
    justify-content: center;
    color: white;
    gap: 1.2em;
    font-size: 100%;
    font-weight: lighter;
}
#two h4 {
    font-size: 140%;
}
#two a{
    color: rgb(0, 170, 255);
}
/* Images */
.downlogo {
    width: 10px;
}

#searchicon {
    width: 20px;
}

#globeicon {
    width: 15px;
    height: 15px;
}

#threelinelogo {
    width: 40px;
}

#ReviewsofUltraEdit {
    width: 150px;
    height: 60px;
    text-align: center;
}

#ultraedit-logo-only {
    width: 60px;
}