.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 12px;
    background-color: grey;
    color: white;
    gap: 5px;
    width: 160px;
    height: auto;
    cursor: pointer;
    transition: box-shadow 250ms ease-in-out,
    scale 250ms ease-in-out;
}
.card:hover {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    scale: 1.05;
}