*{
    padding: 0;
    margin: 0;
}
.leftBarElements {
    border-radius: 2rem;
    padding: 10px 15px 10px 15px;
    transition: color 80ms ease-in;
    font-weight: 500;
}
.leftBarElements:hover {
    background-color: rgba(24, 24, 24, 1);
}

.second {
    border-left: 0.5px solid rgb(48, 48, 48);
    border-right: 0.5px solid rgb(48, 48, 48);
}   

.sevenSvgUl li a{
    padding: 8px;
}

.seven-svgs {
    width: 20px;
}
.bottomDiv {
    height: 5px;
    position: absolute;
    bottom: 1px;
    border-radius: 1rem;
    background-color: rgb(29 ,155 ,240);
}
.no-scrollbar {
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@media (max-width:1260px){
    .sideBar {
        align-items: center;
    }
    .LBEtexts {
        display: none;
    }
    .leftBarElements,.postButton {
        border-radius: 50%;
    }
    .postButton {
        padding: 8px;
        width: fit-content;
        height: fit-content;
    }
}
@media (max-width:1080px) {
    .third {
        display: none;
    }
}
@media (max-width:500px) {
    .first {
        display: none;
    }
    footer {
        display: flex;
    }
}